{% extends 'shopapp/base.html' %}

{% block title %}
    {{ goods.name }}详情
{% endblock %}
{% block content %}
    <table class="table">
        <tr>
            <td rowspan="1">
                <img style="width: 260px;height: 260px" src="/static/{{ goods.picture }}" alt="">
            </td>
            <th>
                商品名称
            </th>
            <td colspan="3">
                {{ goods.name }}
            </td>
        </tr>


        <tr>
            <th colspan="5" style="text-align: center">
                商品描述
            </th>


        </tr>
        <tr>
            <td colspan="5" >
                {{ goods.description|safe }}

            </td>
        </tr>
    </table>

{% endblock %}

